body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 3rem;
    color: purple;
}
h2{
    color: green;
}
.color{
    font-size: 1.5rem;
}
input{
    border-radius: 2rem;
    padding: 1rem;
    width: 25rem;
}
button{
    color: white;
    background-color: black;
    font-size: 1.5rem;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    transition: all .3s;
}
button:hover{
    box-shadow: 2px 2px 2px 2px rgb(82, 81, 81);
    background-color: blueviolet;
}